<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
	<title>Sample Spring MVC</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	<!-- the href - it is required if directly trying to render the page in the browser -->
	<!-- the th:href - the bootstrap brought by webjar dependencies located in project target available in runtime. used 
	when ran in tomcat -->
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
            
	<link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>                        
</head>

<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Show Customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Customer Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.id}">Customer Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.email}">Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Address line one:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.addressLineOne}">Address line one</p>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">City:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.city}">City</p>
                    </div>
                </div>    
            </form>
        </div>
    </div>
</div>

</body>

</html>